env/
venv/
*.log
.vscode/
__pycache__/
self-learning/click/*
self-learning/ngrok/*
# self-learning/bayesian/*
datasets/resstock_2025/load_profiles
cosimulation_tools/dss-ochre-helics/profiles
ochre_helics_example/my_examples/my_cosim/cosimulation
cosimulation_tools/gld-ochre-helics/cosim_using_predownloaded_files/results/