[submodule "references/gridlab-d"]
	path = references/gridlab-d
	url = https://github.com/gridlab-d/gridlab-d.git
[submodule "references/HELICS"]
	path = references/HELICS
	url = https://github.com/GMLC-TDC/HELICS.git
[submodule "references/HELICS-Examples"]
	path = references/HELICS-Examples
	url = https://github.com/GMLC-TDC/HELICS-Examples.git
[submodule "references/dss-cosim"]
	path = references/dss-cosim
	url = https://github.com/NREL/dss-cosim.git
[submodule "references/dss-cosim"]
	path = references/OpenDSS
	url = https://github.com/tshort/OpenDSS.git
[submodule "references/OpenDSS"]
	path = references/OpenDSS
	url = https://github.com/tshort/OpenDSS.git
